/* RESET CSS */

a {
    text-decoration: none;
}

body,
html {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

html,
body,
#app {
    font-family: 'Segoe UI';
    font-size: 16px !important;
    font-weight: normal;
    color: #fff;
    background-color: #000000;
    min-width: 100% !important;
    min-height: 100% !important;
    text-align: center;
    width: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    word-break: break-word !important;
}

#app {
    overflow-y: hidden !important;
}


/* FONT */

@font-face {
    font-family: 'Segoe UI';
    src: url('~assets/font/Segoe UI.ttf');
    font-weight: normal;
    font-display: swap;
}

h1 {
    font-size: 1.5em !important;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.375em !important;
    word-break: break-word;
}

.underlined {
    -webkit-text-decoration: underline #007cde;
    text-decoration: underline #007cde;
}

.gradient-text {
    background: -webkit-linear-gradient(150deg, #01e9bd 8%, #007cde 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-break: break-word;
}

.gradient-text2 {
    background: -webkit-linear-gradient(150deg, #fff289 10%, #d82f77 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text3 {
    background: -webkit-linear-gradient(150deg, #ffeeba 8%, #7f5a2a 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1em;
    word-break: break-word !important;
}

p {
    font-size: 1em;
}

span {
    font-size: 1.25em;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.title-content {
    font-size: 2em !important;
    /*3em*/
}

.text-content {
    font-size: 1.625em !important;
    line-height: 1.625em;
}

.text-content2 {
    font-size: 1.125em !important;
    line-height: 1.625em;
}


/* RESIZE */

@media screen and (min-width: 1441px) {
    .SVGHD {
        display: none;
    }
    .SVGTABLET {
        display: none;
    }
    .SVGMOBILE {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .SVGUHD {
        display: none;
    }
    .SVGTABLET {
        display: none;
    }
    .SVGMOBILE {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .SVGHD {
        display: none;
    }
    .SVGUHD {
        display: none;
    }
    .SVGMOBILE {
        display: none;
    }
}

@media screen and (min-width: 1px) and (max-width: 425px) {
    .SVGHD {
        display: none;
    }
    .SVGUHD {
        display: none;
    }
    .SVGTABLET {
        display: none;
    }
    .title-content {
        font-size: 1.625em !important;
    }
    .text-content {
        font-size: 1.125em !important;
    }
    .text-content2 {
        font-size: 1em !important;
    }
}

@media screen and (max-width: 605px) {
    .table_data {
        display: none;
    }
}

.header {
    height: calc(var(--vh, 1vh) * 100) !important;
    width: calc(var(--vw, 1vw) * 100) !important;
}


/*#btn_condition {
  position: absolute;
  bottom: 10vh;
  right: 100px;
}
#btn_condition {
  position: absolute;
}*/

.SVGUHD {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}

.SVGHD {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}

.SVGTABLET {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}

.SVGMOBILE {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
}

@supports (-webkit-touch-callout: none) {}


/* LAYOUT */

.section {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_fonctionnement {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vs-card-content.type-2.vs-card-img {
    height: 500px;
}

.img__oled-play {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    transition: transform 500ms;
}

.img__oled-play_tablet {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    transition: transform 500ms;
}

.img__oled-play_mobile {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    transition: transform 500ms;
}

.img_oled:hover,
.img__oled-play:hover {
    transform: translate3d(-50%, -50%, 0) rotate(120deg);
}

.vs-button--size-xl .vs-button__content {
    padding: 30px 25px;
}

.OLED_header {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#OfficialHeaderWrapper {
    display: none;
    height: 0px;
}

.OLED_card {
    margin: 35px 30px 0;
    max-width: 280px;
}

.img_twenty {
    width: 100%;
    height: auto;
}

.vs-card-content.type-1 .vs-card {
    height: 370px !important;
    color: #fff !important;
    background: #141417 !important;
}

@media all and (min-width: 901px) and (max-width: 1440px) {
    .vs-card-content.type-1 .vs-card {
        height: 410px !important;
    }
}

.vs-card-content.type-2 .vs-card__text {
    padding-top: 100px !important;
    color: white !important;
}

.vs-card__img,
.img_card {
    max-height: 350px !important;
    min-height: 350px !important;
}

.mdi-36px.mdi-set,
.mdi-36px.mdi:before {
    font-size: 70px !important;
}

.img_OLED_PC {
    margin: 0 auto;
    max-width: 100%;
    background-size: contain;
}

.v-application p {
    margin: 0 !important;
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #030305;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
}

.logo_asus {
    height: 16px;
    width: 78px;
    background-image: url('~assets/img/logo_asus_black.svg');
}

.logo_asus:hover {
    height: 16px;
    width: 78px;
    background-image: url('~assets/img/logo_asus_blue.svg');
}

.banniere1 {
    width: 100vw;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.btn_eligible:hover {
    background: #185bff;
}


/* MARGIN */

.mx {
    margin: 0 2em 0 2em;
}

.my {
    margin: 2em 0 2em 0;
}

.mt1 {
    margin: 2em 0 0 0;
}

.mt2 {
    margin: 4em 0 0 0;
}

.mb {
    margin: 0 0 2em 0;
}

.ma {
    margin: 2em;
}

.m_podium {
    margin: 8em 0 0 0;
}


/* animations */

.zoom {
    transition: transform 0.3s !important;
}

.zoom:hover {
    transform: scale(1.1) !important;
}

.up {
    transition: transform 0.2s !important;
    cursor: pointer;
}

.up:hover {
    transform: translateY(-5px) !important;
}

.fly {
    -webkit-animation: fly 3s ease-in-out infinite alternate both;
    animation: fly 3s ease-in-out infinite alternate both;
}

@-webkit-keyframes fly {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes fly {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}